.templates {
  display: none;
}

.CodeMirror {
  font-family: 'Inconsolata';
  font-size: 14pt;
  width: auto;
}

.pixel {
  text-align: center;
  vertical-align: bottom;
}

.screen, .memory {
  vertical-align: middle;
  font-family: 'Inconsolata';
  font-size: 11pt;
}

.mem-header {
  text-align: left;
  border: solid;
}

.mem-body td {
  text-align: left;
}

