.CodeMirror {
  font-family: 'Inconsolata';
  font-size: 14pt;
  width: auto;
}

#screen {
  padding-left: 10px;
  border-width: 1px;
  width: 432px;
  margin: 0 auto;
}

.pixel {
  border-style: solid;
  border-width: 1px;
  width: 25px;
  height: 25px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Inconsolata';
  font-size: 12pt;
}

.screen-label {
  width: 25px;
  height: 25px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Inconsolata';
  font-size: 14pt;
  background-color: gray;
  color: silver;
  margin-right: 10px;
  padding-left: 5px;
}

#memory {
  vertical-align: middle;
  font-family: 'Inconsolata';
  font-size: 11pt;
}

#memheader {
  text-align: left;
  border: solid;
}

#membody td {
  text-align: left;
}


