.CodeMirror {
  font-family: 'Inconsolata';
  font-size: 14pt;
  height: 250px;
}

#editor {
  margin-top: 10px;
}

#editor-text {
  font-family: 'Inconsolata';
  font-size: 14pt;
  color: white;
  background-color: black;
}

#screen {
  padding-left: 10px;
  border-width: 1px;
  width: 432px;
  margin: 0 auto;
}
#memory {
  border-width: 1px;
  width: 432px;
}

.pixel {
  border-style: solid;
  border-width: 1px;
  width: 25px;
  height: 25px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Inconsolata';
  font-size: 12pt;
}

.screen-label {
  width: 25px;
  height: 25px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Inconsolata';
  font-size: 14pt;
  background-color: gray;
  color: silver;
  margin-right: 10px;
  padding-left: 5px;
}

.memlabel {
  text-align: right;
  vertical-align: middle;
  font-family: 'Inconsolata';
  font-size: 14pt;
  background-color: gray;
  color: silver;
  margin-right: 10px;
  padding-left: 5px;
}

.pc-label {
  height: 25px;
  display: table-cell;
  font-family: 'Inconsolata';
  font-size: 14pt;
  text-align: left;
  vertical-align: middle;
  background-color: gray;
  color: silver;
  padding-left: 5px;
  padding-right: 9px;
  border-right: solid;
  border-right-width: 0.5px;
  border-right-color: black;
}


.register-label {
  height: 25px;
  display: table-cell;
  font-family: 'Inconsolata';
  font-size: 14pt;
  text-align: left;
  vertical-align: middle;
  background-color: gray;
  color: silver;
  padding-left: 5px;
  padding-right: 5px;
}
.register-label:after {
  font-family: 'Inconsolata';
  font-size: 14pt;
  content:"  ";
  white-space: pre;
}

#registers {
  margin-bottom: 10px;
}
#pc, .memcell {
  width: 25px;
  height: 25px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Inconsolata';
  font-size: 14pt;
  background-color: silver;
  color: black;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: .5px; 
  padding-left: 5px;
  padding-right: 5px;
}

#pc {
  padding-right: 9px;
  border-right: solid;
  border-right-width: 0.5px;
}

.data-row {
  display: table;
  table-layout: fixed; 
}

